body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #f5f0e1;
    color: #3e322c;
    display: flex;
    flex-wrap: wrap;
}

#sidebar {
    background-color: #e7d5b7;
    width: 200px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    overflow-y: auto;
}

#sidebar button {
    background-color: #f5f0e1;
    color: #3e322c;
    border: 1px solid #d1b89e;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
}

#sidebar button:hover {
    background-color: #e7d5b7;
}

#content, #deletedContent {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    min-width: 300px;
    background-color: #f5f0e1;
}

.inputFields {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.inputFields input, .inputFields textarea {
    border: 1px solid #d1b89e;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    resize: vertical;
}

.button {
    background-color: #a6895f;
    border: none;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 8px;
}

.button:hover {
    background-color: #8b724a;
}

.card, .deletedCard > div {
    background-color: #fffaf3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card button, .deletedCard button {
    background-color: transparent;
    border: 1px solid #a6895f;
    color: #a6895f;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
}

.card button:hover, .deletedCard button:hover {
    background-color: #a6895f;
    color: #fff;
}

.deletedCard {
    padding: 0;
}

.badge {
    background-color: #a6895f;
    border-radius: 50%;
    padding: 5px 10px;
    color: #fff;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}

#sidebar button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 600px) {
    #sidebar {
        width: 100%;
        height: auto;
        position: static;
        box-shadow: none;
        overflow-y: visible;
    }

    #content, #deletedContent {
        padding: 10px;
        min-width: 0;
    }
}
